<h1 class="header">投稿一覧</h1>
<%= notice %>

<div class="index"><table>
  <tr>
    <th>内容</th>
  </tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= link_to 'ツイートを確認', post_path(post.id) %></td>
    <td><%= link_to "ツイートを編集する", edit_post_path(post.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to 'ツイートを削除', post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
　</tr>
<% end %>
</table>
</div>

<footer>
<%= link_to 'ツイートする', new_post_path %>